.LoginForm[data-v-2b3ae965] {
    padding-bottom: 60px;
    padding-top: 20px
}

.LoginForm__description[data-v-2b3ae965] {
    position: relative
}

.LoginForm__description[data-v-2b3ae965]:before {
    background-color: #ffeade;
    background-repeat: no-repeat;
    bottom: 0;
    content: "";
    display: inline-block;
    height: 70%;
    left: 0;
    position: absolute;
    top: 7px;
    width: 100%
}

.LoginForm__descriptionText[data-v-2b3ae965],
.Login__description[data-v-41ff64ed] {
    position: relative
}

.Login__description[data-v-41ff64ed]:before {
    background-color: #ffeade;
    background-repeat: no-repeat;
    bottom: 0;
    content: "";
    display: inline-block;
    height: 70%;
    left: 0;
    position: absolute;
    top: 7px;
    width: 100%
}

.Login__descriptionText[data-v-41ff64ed] {
    position: relative
}